.gameboy{
    grid-area: "gameboy";
    background-color: #FE0065;
    border-radius: 1rem;
    display: grid;
    text-align: center;
    grid-template-areas: "gameboy-header"
    "screen"
    "gameboy-footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    gap: 1rem;
    padding: 1rem;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: screen;
    background-color: white;
    cursor: pointer;
    border: 2px #1f1f1f solid;
}

.screen button{
    background-color: #FFCC00;
    padding: 0.5rem;
    margin: 0.5rem;
    outline: none;
    border-radius: 1rem;
    border: none;
}

.pokemon-stats{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

.gameboy-header{
    display: flex;
    grid-area: gameboy-header;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.gameboy-header img{
    width: 3rem;
}

.gameboy-footer{
    grid-area: gameboy-footer;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: #636363;
    border-radius: 1rem;
    border: 2px #1f1f1f solid;
}

.gameboy-footer input{
    background-color: #39B47D;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    height: 50%;
    width: 50%;
    padding: 1rem;
}

.gameboy-footer button{
    border-radius: 50%;
    outline: none;
    border: none;
}

#enter-btn{
    background-color: #31C66B;
    height: 3rem;
    width: 3rem;
}

#reset-btn{
    background-color: #F70703;
    height: 2rem;
    width: 2rem;
}